<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <import resource="classpath*:reservations-service.xml"/>

    <import resource="classpath*:infrastructure.xml"/>

    <import resource="classpath*:spring-converterHelpers.xml"/>
    
    <!-- Request scoped beans -->
    <bean id="reservationCreate" class="org.jboss.snowdrop.samples.sportsclub.jsf.beans.ReservationCreate" scope="request" init-method="init">
        <property name="reservationService" ref="reservationService"/>
        <property name="accountService" ref="accountService"/>
        <property name="accountFilter" ref="accountFilter"/>
        <property name="equipmentFilter" ref="equipmentFilter"/>
    </bean>


    <!-- Session scoped beans -->
    <bean id="reservationSearch" class="org.jboss.snowdrop.samples.sportsclub.jsf.beans.ReservationSearch" scope="session">
        <property name="reservationService" ref="reservationService"/>
        <property name="tableState" ref="reservationSearchTableState"/>
        <property name="reservationSearchOptions" ref="reservationSearchOptions"/>
    </bean>
    
    <bean id="reservationSearchTableState" class="org.jboss.snowdrop.samples.sportsclub.jsf.beans.ReservationTableState" scope="session"/>

    <bean id="reservationSearchOptions" class="org.jboss.snowdrop.samples.sportsclub.jsf.beans.ReservationSearchOptions" scope="session" init-method="init">
        <property name="equipmentService" ref="equipmentService"/>
    </bean>

    <bean id="accountFilter" class="org.jboss.snowdrop.samples.sportsclub.jsf.beans.AccountFilter" scope="session">
        <property name="accountService" ref="accountService"/>
    </bean>

    <bean id="equipmentFilter" class="org.jboss.snowdrop.samples.sportsclub.jsf.beans.EquipmentFilter" scope="session">
        <property name="equipmentService" ref="equipmentService"/>
    </bean>

    <!-- Application scoped service -->
    <bean id="referenceData" class="org.jboss.snowdrop.samples.sportsclub.jsf.beans.ReferenceData" init-method="init">
        <property name="equipmentService" ref="equipmentService"/>
    </bean>

    
    <!-- JSF Converters managed by Spring -->
    <bean id="equipmentTypeConverter" class="org.jboss.snowdrop.samples.sportsclub.jsf.beans.converter.EquipmentTypeConverter"/>

    <bean id="equipmentConverter" class="org.jboss.snowdrop.samples.sportsclub.jsf.beans.converter.EquipmentConverter">
        <property name="equipmentConverterHelper" ref="equipmentConverterHelper"/>
    </bean>

    <bean id="accountConverter" class="org.jboss.snowdrop.samples.sportsclub.jsf.beans.converter.AccountConverter">
        <property name="accountConverterHelper" ref="accountConverterHelper"/>
    </bean>
    
    <context:annotation-config/>
    
</beans>