.rich-container input, .rich-input, .rich-container select, .rich-select, .rich-container textarea, .rich-textarea, .rich-container button, .rich-button, .rich-container keygen, .rich-keygen, .rich-container isindex, .rich-isindex {
	border-width:1px;
	border-color:#B6AD84;
	color:#000;
}
.rich-container *|button, .rich-button {
border-width:1px;
background-repeat:repeat-x;
background-position:top left;
}
.rich-button, .rich-container button[type="button"], .rich-button-button, .rich-container button[type="reset"], .rich-button-reset, .rich-container button[type="submit"], .rich-button-submit, .rich-container input[type="reset"], .rich-input-reset, .rich-container input[type="submit"], .rich-input-submit, .rich-container input[type="button"], .rich-input-button {
	border-width:1px;
	background-repeat:repeat-x;
	background-position:top left;
}
.rich-container *|button, .rich-button {
border-color:#B6AD84;
font-size:11px;
font-family:Arial, Verdana, sans-serif;
color:#FFF;
background-color:#5D7343;
background-image:url(/sportsclub/subscriptions/faces/a4j/g/3_3_1.GAorg.richfaces.renderkit.html.images.ButtonBackgroundImage/DATB/eAFjYGDgrt08y7k4lgkADiMC6w__);
}
.rich-button, .rich-container button[type="button"], .rich-button-button, .rich-container button[type="reset"], .rich-button-reset, .rich-container button[type="submit"], .rich-button-submit, .rich-container input[type="reset"], .rich-input-reset, .rich-container input[type="submit"], .rich-input-submit, .rich-container input[type="button"], .rich-input-button {
	border-color:#B6AD84;
	font-size:11px;
	font-family:Arial, Verdana, sans-serif;
	color:#FFF;
	background-color:#5D7343;
	background-image:url(/sportsclub/subscriptions/faces/a4j/g/3_3_1.GAorg.richfaces.renderkit.html.images.ButtonBackgroundImage/DATB/eAFjYGDgrt08y7k4lgkADiMC6w__);
}
.rich-container *|button[disabled] {
color:#A49449;
background-color:#ccc;
border-color:#ccc;
background-image:url(/sportsclub/subscriptions/faces/a4j/g/3_3_1.GAorg.richfaces.renderkit.html.images.ButtonDisabledBackgroundImage/DATB/eAFjYGDg!vjx45kzZ5gAGIMFRQ__);
}
.rich-button-disabled, .rich-container button[type="button"][disabled], .rich-button-button-disabled, .rich-container button[type="reset"][disabled], .rich-button-reset-disabled, .rich-container button[type="submit"][disabled], .rich-button-submit-disabled, .rich-container input[type="reset"][disabled], .rich-input-reset-disabled, .rich-container input[type="submit"][disabled], .rich-input-submit-disabled, .rich-container input[type="button"][disabled], .rich-input-button-disabled {
	color:#A49449;
	background-color:#ccc;
	border-color:#ccc;
	background-image:url(/sportsclub/subscriptions/faces/a4j/g/3_3_1.GAorg.richfaces.renderkit.html.images.ButtonDisabledBackgroundImage/DATB/eAFjYGDg!vjx45kzZ5gAGIMFRQ__);
}
.rich-container *|textarea {
border-width:1px;
border-style:inset;
background-repeat:no-repeat;
background-position:1px 1px;
}
.rich-textarea, .rich-container textarea[type="textarea"], .rich-textarea-textarea, .rich-container input[type="text"], .rich-input-text, .rich-container input[type="password"], .rich-input-password, .rich-container select, .rich-select {
	border-width:1px;
	border-style:inset;
	background-repeat:no-repeat;
	background-position:1px 1px;
}
.rich-container *|textarea {
border-color:#B6AD84;
font-size:11px;
font-family:Arial, Verdana, sans-serif;
color:#000;
background-color:#fff;
background-image:url(/sportsclub/subscriptions/faces/a4j/g/3_3_1.GAorg.richfaces.renderkit.html.images.InputBackgroundImage/DATB/eAFjYGDgvvjy3f!!!5kAGS8Fsw__);
}
.rich-textarea, .rich-container textarea[type="textarea"], .rich-textarea-textarea, .rich-container input[type="text"], .rich-input-text, .rich-container input[type="password"], .rich-input-password, .rich-container select, .rich-select {
	border-color:#B6AD84;
	font-size:11px;
	font-family:Arial, Verdana, sans-serif;
	color:#000;
	background-color:#fff;
	background-image:url(/sportsclub/subscriptions/faces/a4j/g/3_3_1.GAorg.richfaces.renderkit.html.images.InputBackgroundImage/DATB/eAFjYGDgvvjy3f!!!5kAGS8Fsw__);
}
.rich-container *|textarea[disabled], .rich-container *|select[disabled] {
color:#B6AD84;
}
.rich-textarea-disabled, .rich-container textarea[type="textarea"][disabled], .rich-textarea-textarea-disabled, .rich-container input[type="text"][disabled], .rich-input-text-disabled, .rich-container input[type="password"][disabled], .rich-input-password-disabled, .rich-container select[disabled], .rich-select-disabled {
	color:#B6AD84;
}
