.dr-dscr-t {
	border-width:1px;
	border-style:solid;
}
.dr-dscr-button, .dr-dscr-sepctrl {
	border-width:1px;
	border-style:solid;
	width:25px;
	cursor:pointer;
	text-align:center;
}
.dr-dscr-button-dsbld {
	cursor:default;
}
.dr-dscr-act {
	border-top-width:2px;
	border-top-style:solid;
	width:25px;
	text-align:center;
}
.dr-dscr-inact {
	border-top-width:2px;
	border-top-style:solid;
	width:25px;
	cursor:pointer;
	text-align:center;
}
.dr-stglpnl {
	background-color:#FFF;
	border-color:#B6AD84;
}
.dr-dscr-button, .dr-dscr-sepctrl {
	background-color:#EEE9D1;
	border-color:#B6AD84;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
}
.dr-dscr-button-dsbld {
	color:#B6AD84;
}
.dr-dscr-act {
	border-top-color:#000;
	color:#000;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
}
.dr-dscr-inact {
	border-top-color:#5D7343;
	color:#5D7343;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
}
.dr-dscr-t {
	border-color:#B6AD84;
	background-color:#FFF;
}
