<link class="component" href="css/basic_classes.css" rel="stylesheet" type="text/css"/>
<link class="component" href="css/extended_classes.css" media="rich-extended-skinning" rel="stylesheet" type="text/css"/>
<link class="component" href="css/panel.css" rel="stylesheet" type="text/css"/>
<link class="component" href="css/toolBar.css" rel="stylesheet" type="text/css"/>
<link class="component" href="css/datascroller.css" rel="stylesheet" type="text/css"/>
<link class="component" href="css/dragindicator.css" rel="stylesheet" type="text/css"/>
<link class="component" href="css/extendedDataTable.css" rel="stylesheet" type="text/css"/>
<link class="component" href="css/inplaceinput.css" rel="stylesheet" type="text/css"/>
<link class="component" href="css/inplaceselect.css" rel="stylesheet" type="text/css"/>
<link class="component" href="css/menucomponents.css" rel="stylesheet" type="text/css"/>
<link class="component" href="css/custom.css" rel="stylesheet" type="text/css"/>